
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.7;
  background-color: #f8f8f8;
}

*
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

#header {
  width: 100%;
  text-align: center;
  background-color: blue;
  padding-top: 40px;
  padding-bottom: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
.main__title {
  font-weight: 900;
  font-size: 50px;
}
.container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
.section {
  background: linear-gradient(to bottom, #000066 0%, #000099 100%);
  height: 100%;
  box-sizing: border-box;
}
#first-game-container {
  font-weight: bold;
  position: relative;
}

.games__item-main {
 display: flex;
}

.games__item-info {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 30px;
  color: #fff;
  background-color: rgb(10, 63, 236);
  display: block;
  width: 100%;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  height: 100px;
  text-transform: uppercase;
}

#first-game-container:hover > .games__item-info {
  transition: .3s linear;
  opacity: .6;
}
/* #first-game-container:hover img {
  max-height: 388px;
} */

.games__container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 129px;
}

.footer {
  background-color: rgb(10, 63, 236);
  height: 100px;
}

.footer__text{
  text-align: left; 
}

.other__games {
  display: block;
  max-width: 500px;
}
.other__game-image{
  width: auto;
}
.other__games_hide {
  display: none;
}
.game__description {
  background: #343446;
  color: #fff;
  display: block;
  border: 2px solid #000;
  padding-left: 10px;
  min-height: calc(100vh - 289px);
  padding-top: 10px;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1140px;
  border: 2px #000 solid;
  padding: 5px;
}

.game__descr {
  max-width: 900px;
}


.game__info {
  margin-left: 30px;
  margin-right: 30px;
}
.game__title {
  font-size: 30px;
}

.game__nums {
  text-align: right;
}
.btn {
  box-shadow:inset 0px 16px 6px -8px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	padding:5px 42px;
	text-decoration:none;
	text-shadow:0px 0px 12px #263666;
}
.btn:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}

.games__list {
  display: inline;
  list-style-type: none;
}

/* axtox styles */

section.games-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
  width: 1000px;
  height: 508px;
  margin: 100px auto;
}
section.games-list .game:nth-child(1) {
  order: 0;
  flex: 0 1 100%;
  align-self: stretch;
  width: 500px;
}

section.games-list .game {
  order: 0;
  flex: 0 1 50%;
  align-self: stretch;
}

section.games-list .game > img {
  width:100%;
  height:100%;
}

.game {
  position: relative;
}

.hover-info {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  background-color: #000066;
  width: 100%;
  height: 100px;
  color: #fff;
  text-align: center;
}

.game:hover > .hover-info{
  opacity: .6;
  transition: linear .2s ;
}

.price {
  display: block;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 30px;
}
.title {
  display: block;
  font-size: 20px;
  padding-right: 10px;
  padding-top: 30px;
}